.container {
  height: 400px;
  widows: 400;
  border: 5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  height: 80px;
  width: 80px;
  border: 3px solid orange;
}
